<div class="content">
    <div *ngIf="successMessage !== ''">
        {{ successMessage }}
    </div>

    <form #listForm="ngForm" (ngSubmit)="addItem(listForm)">
        <mat-form-field appearance="outline">   
            <mat-label>Goal</mat-label>
            <input matInput name="itemName" placeholder="" required [(ngModel)]="item.itemName">
          </mat-form-field>

        <div>
            <button [disabled]="listForm.invalid" mat-flat-button type="submit">Submit</button>
        </div>
    </form>
</div>
