<div class="content">


  <div class="flex-r checklist-header">

    <h3 style="padding-left: 10px;"> {{ listTypeName }}</h3>
    <button mat-flat-button (click)="toggle()">{{ buttonText }}</button>
  </div>

  <button mat-flat-button [routerLink]="'/goals/add'" >Add Goal</button>

  <div *ngIf="checklist.length > 0">
    <app-checklist-list [list]="filteredList" 
    (checkBoxTicked)="checkBoxChanged($event)"
    (delete)="Delete($event)"></app-checklist-list>
  </div>

  {{ (filteredList.length == 0 && !showAll) ? "All goals have been completed" : ""}}

</div>