.checklist-header {
    width: 400px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.checklist-header h3 {
    margin: 0;
}   

.search-bar {
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
}