<div class="content">

  <div class="flex-r checklist-header">
    <h3 style="padding-left: 10px;">Daily Goals</h3>
  </div>

  <button mat-flat-button [routerLink]="'/goals/daily/add'">Add Goal</button>

  <div class="checklist-header">
    <input type="text" class="search-bar" placeholder="Search" [formControl]="searchBar">
  </div>

  <div *ngIf="checklist.length">
    <app-checklist-list [list]="filteredList" 
    route="/goals/daily/edit/"
    (checkBoxTicked)="checkBoxChanged($event)"
    (delete)="Delete($event)"></app-checklist-list>
  </div>

  <p style="margin-top: 15px; padding-left: 10px;">
    {{ (checklist.length == 0 && listType == ListState.Incomplete) ? "All goals have been completed" : ""}}
  </p>

</div>