/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat; // Import Angular Material's SCSS theming system

// Apply custom styles
// :root {
//     @include mat.checkbox-overrides((selected-icon-color: green,
//             selected-focus-icon-color: green));
// }



// Optionally, you can customize more Material components here, for example:


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.content {
  padding: 10px 16px;
}

.flex-r {
  display: flex;
  flex-direction: row;
}